{{>layout/header}}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>




                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    {{#nickname}}
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nickname}}</span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile(준비중)
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings(준비중)
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                    {{/nickname}}
                </ul>
                {{^nickname}}
                    <a href="/homeLogin" class="btn btn-info active" role="button">Login</a>
                {{/nickname}}

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                </div>

                <!-- Content Row -->

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-info">해외 거래소와 국내 거래소의 비트코인 가격 차이</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5" style="display:flex">
                        <div class="card shadow mb-4" style="flex:1">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-info">현재 비트코인가격(BTC/USDT)</h6>
                                <div class="dropdown no-arrow">
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="text-center">
                                    <div class="mb-4 font-weight-bold text-primary">현재 업비트 비트코인 가격</div>
                                    <div id="upbit_btc" class="mb-4 font-weight-bold text-primary"></div>
                                    <div class="mb-4 font-weight-bold text-warning">현재 바이낸스 비트코인 가격</div>
                                    <div id="binance_btc" class="mb-4 font-weight-bold text-warning"></div>
                                    <div class="mb-4 font-weight-bold text-danger">현재 비트코인 가격 차이 </div>
                                    <div id="upbit_binance_btc" class="mb-4 font-weight-bold text-danger"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4" style="display:flex">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4" style="flex:1">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-info">주요 코인</h6>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <th>이름</th>
                                    <th>가격</th>
                                    <th>24시간 변동량</th>
                                    </thead>
                                    <tbody>
                                    {{#rateOfBit}}
                                        <tr>
                                            <td>{{rateOfBit.name}}</td>
                                            <td>{{rateOfBit.price_usd}}</td>
                                            <td>{{rateOfBit.percent_change_24h}}</td>
                                        </tr>
                                    {{/rateOfBit}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-info">인기 게시판</h6>
                            </div>
                            <div class="card-body">

                                <table class="table table-hover">
                                    <thead class="thead-strong">
                                    <tr>
                                        <th>게시글번호</th>
                                        <th>제목</th>
                                        <th>조회수</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    {{#article}}
                                        <tr>
                                            <td>{{id}}</td>
                                            <td><a href="/article/select/{{id}}">{{title}}</a></td>
                                            <td>{{viewCount}}</td>
                                        </tr>
                                    {{/article}}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Approach -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-info">공지사항</h6>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead class="thead-strong">
                                    <tr>
                                        <th>게시글번호</th>
                                        <th>제목</th>
                                        <th>조회수</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    {{#announcement}}
                                        <tr>
                                            <td>{{id}}</td>
                                            <td><a href="/article/select/{{id}}">{{title}}</a></td>
                                            <td>{{viewCount}}</td>
                                        </tr>
                                    {{/announcement}}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

<script>
    async function loadIntoTable(url, table) {
        const tableBody = table.querySelector("tbody")
        const response = await fetch(url);
        const json = await response.json();
        const data = json.data

        let arrKey = {name: "name", price: "price", percentage_change_24h: 2014};

        // Clear the table
        tableBody.innerHTML = "";

        // Populate the rows
        for (const row in data){
            const rowElement = document.createElement("tr");
            const object1 = data[row];
            for(const [key, value] of Object.entries(object1)) {

                if(key in arrKey) {
                    const cellElement = document.createElement("td");
                    cellElement.textContent = value;
                    rowElement.appendChild(cellElement);
                }
                else if (key == 'quotes') {
                    for(const [key_, value_] of Object.entries(value)) {
                        for(const [key_2, value_2] of Object.entries(value_)) {
                            if(key_2 in arrKey)
                            {
                                const cellElement = document.createElement("td");
                                if(key_2 =="price") {
                                    let price = value_2;
                                    if(price < 1)
                                        price = price.toFixed(2)
                                    cellElement.textContent = price + '$';
                                    cellElement.style.fontWeight = "bold";
                                }
                                else if(key_2 =="percentage_change_24h") {
                                    let rate = value_2;
                                    cellElement.textContent = rate.toFixed(2);
                                    if(rate < 0)
                                        cellElement.style.color = "blue";
                                    else if(rate > 0)
                                        cellElement.style.color = "red";
                                }
                                rowElement.appendChild(cellElement);
                            }
                        }
                    }

                    //let rate = usd_under.percentage_change_24h;
                }
            }

            tableBody.appendChild(rowElement);
        }
    }

    loadIntoTable("https://api.alternative.me/v2/ticker/?limit=10", document.querySelector("table"));

    // fetch('https://api.alternative.me/v2/ticker/?limit=10')
    //         .then(function(response) {
    //             return response.json()
    //         }).then(function(json) {
    //     console.log('parsed json', json)
    //
    // }).catch(function(ex) {
    //     console.log('parsing failed', ex)
    // })
</script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>
<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
{{>layout/footer}}