{{>layout/header}}

<h1>게시글 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <p class="fs-6" id="id">{{article.id}}</p>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <p class="fs-1" id="title">{{article.title}}</p>
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <p class="fs-4" id="author">{{article.user_id}}</p>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <p class="fs-6" id="content">{{article.content}}</p>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-update">수정하기</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제하기</button>
    </div>
</div>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
{{>layout/footer}}